<div style="padding: 20px 20px 20px 20px">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" style="width: 30%">Book Name</th>
        <th scope="col" style="width: 10%">Author</th>
        <th scope="col" style="width: 5%">Code</th>
        <th scope="col" style="width: 5%">Page</th>
        <th scope="col" style="width: 5%">Year</th>
        <th scope="col" style="width: 5%">Count</th>
        <th scope="col" style="width: 30%">Description</th>
        <th scope="col" style="width: 5%">Order date</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of requests;">
        <td>{{x.book.name}}</td>
        <td>{{x.book.author}}</td>
        <td>{{x.book.code}}</td>
        <td>{{x.book.page}}</td>
        <td>{{x.book.year}}</td>
        <td>{{x.count}}</td>
        <td>{{x.book.description}}</td>
        <td>{{x.startdate}}</td>
        <td>{{x.status}}</td>
      </tr>
    </tbody>
  </table>
</div>