<form (ngSubmit)="onSubmit()" style="width:300px;margin-left:auto;margin-right:auto;margin-top:20px" >
 <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username">
  </div>
  <div class="form-group">
    <label for="firstname">Firstname</label>
    <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="user.firstname">
  </div>
  <div class="form-group">
    <label for="lastname">Lastname</label>
    <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="user.lastname">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email">
  </div>
  
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password">
  </div>
  <div class="form-group">
    <label for="stafforclient">Choose</label>
    <select class="form-control" id="stafforclient" name="stafforclient" [(ngModel)]="user.stafforclient">
      <option value="staff">Staff</option>
      <option value="client">Client</option>
    </select>
  </div>
        <button type="submit"   class="btn btn-primary" [disabled]="!user.firstname||!user.email||!user.username||!user.lastname||!user.password||!user.stafforclient">Submit</button>
          
  
</form> 
