<div  *ngFor="let x of requests;" style="margin-top:50px">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Full name</th>
          
          <th scope="col">Book Name</th>
          <th scope="col">Author</th>
          
          <th scope="col">Count</th>
          
          <th scope="col">Date of the order</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
      <tr>
          <th scope="row">{{x.user.username}}</th>
          <td >{{x.user.firstname}} {{x.user.lastname}}</td>
        
        <td>{{x.book.name}}</td>
        <td>{{x.book.author}}</td>
        
        
        <td>{{x.count}}</td>
        
        
        <td>{{x.startdate}}</td>
        <select class="form-control" id="status" name="status" [(ngModel)]="x.status">
            <option value="approve">Not returned</option>
            <option value="returned">Returned</option>
        </select>
        
      </tr>
    </tbody>
    </table>
    <button type="submit"   class="btn btn-primary" style="float:right;margin-right: 50px;margin-bottom: 10px"
    (click)="onReturned(x.id,x)"
    >Submit</button>
          
  </div>