<div style="padding: 20px 20px 20px 20px">
    <a routerLink="books"><button type="button" class="btn btn-primary" style="margin-right: 10px">Books</button></a>
    <a routerLink="requests"><button type="button" class="btn btn-primary" style="margin-right: 10px">Requests</button></a>
    <a routerLink="borrow"><button type="button" class="btn btn-primary" style="margin-right: 10px">Borrows</button></a>
    <a routerLink="returned"><button type="button" class="btn btn-primary">Returned</button></a>
</div>
<router-outlet></router-outlet>