<div style="padding: 20px">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" style="width: 30%">Full name</th>
        <th scope="col" style="width: 30%">Book Name</th>
        <th scope="col" style="width: 10%">Author</th>
        <th scope="col" style="width: 5%">Count</th>
        <th scope="col" style="width: 10%">Date of the order</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of requests;">
        <td>{{x.user.firstname}} {{x.user.lastname}}</td>
        <td>{{x.book.name}}</td>
        <td>{{x.book.author}}</td>
        <td>{{x.count}}</td>
        <td>{{x.startdate}}</td>
        <td>{{x.status}}</td>
      </tr>
    </tbody>
  </table>
</div>